/* Layout Principal - Centralizado e com largura máxima controlada */
.content-wrapper {
	position: relative;
	display: flex;
	gap: 18px;
	top: 10px;
	right: -10%;
	padding: 10px;
	width: 100%;
	max-width: 1100px;
	justify-content: center;
	/* align-items: center; */
	/* ISSO IMPEDE DE FICAR LARGO DEMAIS */
	margin: 0 auto;
	position: relative;
	z-index: 10;
	/* border: 1px solid red; */
}

.form-card {
	background: white;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
	border: 1px solid #e2e8f0;

}

.side-panel {
	flex: 0 0 280px;
	height: 300px;
	/* Largura fixa da esquerda */
}

.main-panel {
	flex: .8;
}

.card-title {
	padding: 12px 20px;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 1px solid #f1f5f9;
	color: #475569;
}

.card-body {
	padding: 20px;
}

/* Grids - Organização dos inputs */
.input-grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px 25px;
}

.input-grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px 25px;
}

.input-field {
	margin-bottom: 12px;
}

.input-field label {
	display: block;
	font-size: 12px;
	font-weight: 500;
	color: #64748b;
	margin-bottom: 4px;
}

.input-field input,
.input-field select,
.input-field textarea {
	width: 100%;
	height: 38px;
	padding: 8px 12px;
	border: 1px solid #cbd5e1;
	border-radius: 4px;
	font-size: 13px;
}

/* Foto do Usuário */
.photo-upload {
	text-align: center;
}

.avatar-placeholder {
	width: 85px;
	height: 85px;
	background: #f8fafc;
	border-radius: 50%;
	margin: 0 auto 10px;
	overflow: hidden;
	border: 2px solid #f1f5f9;
}

.avatar-placeholder img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}